@use "../../theme/animatedButtons.scss" as *;

.headerButton {
  color: #ffffff;
  font-size: 1.5em;
  background: transparent;
  height: 2em;
  display: flex;
  text-align: left;
  padding: 0;
  margin: 0;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.headerText {
  width: 100%;
  padding: 0;
  margin: 0;
}

.headerLanguageButton {
  color: #ffffff;
  text-align: right;
  font-size: 1.5em;
  background: transparent;
  height: 100%;
  width: 100%; // optional, if you want full width too
  padding: 0;
  margin: 0;
}

.underline {
  border-bottom: #ffffff 2px solid;
}

.custom-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.exitLoadingOverlay {
  color: #ffffff;
  font-size: 10vh;
  background: transparent;
  border: none;
  fill: clear;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-shadow: none;
  height: 100%;
  width: 100%;
}

.not-found-card {
  --background: transparent;
  border: #ffffff 2px solid;
  box-shadow: none;
  text-align: left;
  padding: 2vh;
}

.not-found-title {
  color: #ffffff;
  font-size: 4vh;
  margin-bottom: 2vh;
  text-align: left;
}

.animatedButton {
  @include animatedButton;
}
