@mixin animatedButton {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0;
    transition: bottom 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before,
  &:focus::before {
    bottom: 0;
    color: #000000; // or your desired text color
  }

  ion-text,
  span,
  .headerText {
    position: relative;
    z-index: 1;
    color: #ffffff; // or your desired text color
    transition: color 0.4s;
  }

  &:hover ion-text,
  &:hover .headerText {
    color: #000; // text color on hover
  }
}
